.md-header {
  background-color: #900;
}

/* CSS para mudar o logo no modo escuro e claro */
:root {
  --logo-light: url('docs/Simbolo.png'); /* Logo para o modo claro */
  --logo-dark: url('docs/Vector.png');  /* Logo para o modo escuro */
}
