.md-header {
  background-color: #387083;
  color: white;
}

.md-icon svg {
  fill: white;
}

input.md-search__input::placeholder {
  color: #757575;
  opacity: 1;
}

.md-search__icon svg {
  fill: #757575 !important; 
}

.md-search__input {
  background-color: white !important;
  color: black !important; 
  border: 1px solid #757575 !important;
  border-radius: 4px;
  padding: 5px;
}

