.md-header {
  background-color: #387083;
  color: white;
}

.md-icon svg {
  fill: white;
}

input.md-search__input::placeholder {
  color: #757575;
  opacity: 1;
}

input.md-search__icon {
  color: #757575;
  opacity: 1;
}

div.md-search{
  color: white;
}

