/* Cores para o modo claro */
@media (prefers-color-scheme: light){
:root {
  --md-primary-color: #ECB7B7; /* Cor principal para o modo claro */
  --md-primary-bg-color: #ECB7B7;
  --md-primary-fg-color: #ECB7B7;
}
}

/* Cores para o modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
      --md-primary-color: #90030C; /* Cor principal para o modo escuro */
      --md-primary-bg-color: #90030C;
      --md-primary-fg-color: #90030C;
  }
}